.advantages {
  min-height: 562px;
  background-color: $color-sail;
  background-image: url("../img/content/back-advantages.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 110px;
  padding: 110px 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/content/back-advantages@2x.jpg");
  }

  @include vp-1023 {
    min-height: 588px;
    margin-bottom: 90px;
    padding: 0 0 100px;
  }

  @include vp-767 {
    min-height: 997px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding-bottom: 65px;
  }
}

.advantages h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    padding-top: 89px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
    padding-top: 56px;
  }
}

.advantages ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    gap: 0 30px;
  }

  @include vp-767 {
    grid-template-columns: none;
    gap: 31px;
  }
}

.advantages li {
  background-color: $color-alice-blue;
  padding: 0 30px 25px;
  position: relative;

  @include vp-1023 {
    padding: 0 15px 0 20px;
    min-height: 310px;

    br {
      display: none;
    }
  }

  @include vp-767 {
    min-height: 249px;
    padding-right: 22px;

    br {
      display: block;
    }
  }
}

.advantages__liner {
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 27px;
    height: 32px;
    background-image: url("../img/svg/liner-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include vp-1023 {
      top: 25px;
      left: 20px;
      width: 21px;
      height: 26px;
      background-image: url("../img/svg/liner-tablet.svg");
    }
  }
}

.advantages__inclusive {
  padding-right: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 30px;
    width: 38px;
    height: 21px;
    background-image: url("../img/svg/inclusive-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include vp-1023 {
      top: 29px;
      left: 20px;
      width: 33px;
      height: 19px;
      background-image: url("../img/svg/inclusive-tablet.svg");
    }
  }
}

.advantages__inclusive p {
  padding-right: 15px;

  @include vp-1023 {
    padding-right: 9px;
  }
}

.advantages__zodiac::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 30px;
  width: 42px;
  height: 15px;
  background-image: url("../img/svg/zodiac-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @include vp-1023 {
    top: 32px;
    left: 20px;
    width: 38px;
    height: 13px;
    background-image: url("../img/svg/zodiac-tablet.svg");
  }
}

.advantages__zodiac p {
  padding-right: 50px;

  @include vp-1023 {
    padding-right: 2px;
  }
}

.advantages h4 {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  br {
    display: none;
  }

  @include vp-1023 {
    line-height: 25px;
    padding-top: 70px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    padding-top: 71px;

    br {
      display: block;
    }
  }
}

.advantages p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
