.cruises {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 65px;
  }
}

.cruises h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.cruises ul {
  list-style: none;
  margin: 0;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  color: $color-alice-blue;

  @include vp-1023 {
    padding: 0 15px;
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    padding: 0 10px;
    grid-template-columns: 1fr;
  }
}

.cruises li {
  max-height: 386px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  @media (max-width: 1355px) {
    padding: 25px;
    padding-bottom: 23px;
  }

  @media (max-width: 1115px) {
    padding: 15px;
  }

  @include vp-1023 {
    min-height: 386px;
    max-height: 100vw;
    padding: 35px;
    padding-bottom: 28px;
  }

  @include vp-767 {
    padding: 16px 25px;
  }
}

.cruises h4 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-top: 154%;
  z-index: 10;

  @media (max-width: 1208px) {
    font-size: 16px;
    line-height: 24px;
  }

  @include vp-1023 {
    padding-top: 123%;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding-top: 147%;
  }
}

.cruises img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-sail;
}

.cruises__info {
  display: none;
}

.cruises__info h5 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  @media (max-width: 1329px) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: 1168px) {
    font-size: 10px;
    line-height: 16px;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 20px;
  }
}

.cruises__info p {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (max-width: 1329px) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: 1168px) {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  @include vp-1023 {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 20px;
  }
}

.cruises__link {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: none;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  text-align: center;
  padding: 10px 0;
  user-select:none;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.cruises__atlantis  p {
  margin-bottom: 6px;
}

.cruises__olympia p {
  margin-bottom: 6px;
}

.cruises li:hover,
.cruises li:focus,
.cruises li:focus-within,
.cruises li:active {
  padding: 28px 25px 33px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $color-tangaroa;

  h4 {
    padding: 0;
  }

  img {
    display: none;
  }

  .cruises__info {
    display: block;
    padding: 15px 0;

    @media (max-width: 1265px) {
      padding: 10px 0;
    }

    @include vp-1023 {
      padding: 15px 0;
    }
  }

  .cruises__link {
    display: block;
  }

  @media (max-width: 1234px) {
    padding: 20px;
  }

  @media (max-width: 1050px) {
    padding: 15px;
  }

  @include vp-1023 {
    padding: 28px 34px 33px;
  }

  @media (max-width: 801px) {
    padding: 22px;
  }

  @include vp-767 {
    padding: 30px 25px 34px;
  }
}
