.map {
  width: 560px;
  height: 306px;
  position: relative;
  background-image: url("../img/content/map-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 45%;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/icon.svg");
    z-index: 10;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/map-image@2x.jpg");
    background-size: 560px auto;
  }
}
