.nav {
  position: absolute;
  min-height: 38px;
  margin-top: 35px;
  width: 85%;

  @include vp-1365 {
    min-height: 20px;
    padding: 0;
    margin-top: 32px;
    width: 89%;
  }

  @include vp-767 {
    margin-top: 0;
    width: 100%;
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.nav__menu {
  @include vp-767 {
    display: flex;
    padding-left: 15px;
    position: relative;
  }
}

.nav__logo {
  @include vp-767 {
    position: absolute;
    z-index: 100;
    margin-top: 20px;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include vp-767 {
    margin: 0 0 43px;
    padding-top: 85px;
    flex-direction: column;
    background-color: $color-alice-blue;
  }
}

.nav__list a {
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
  display: block;
  padding: 9px 0;
  margin-left: 33px;
  user-select:none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-1365 {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin-left: 24px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
    margin-bottom: 25px;
    width: 192px;
  }
}

.nav--opened .nav__wrapper {
  @include vp-767 {
    position: absolute;
    z-index: 10;
    background-color: $color-alice-blue;
    margin: 0;
    padding-top: 20px;
    min-height: 100vh;
    width: 89%;
    right: 0;
  }
}

.nav--opened .nav__logo {
  @include vp-767 {
    margin-top: 0;
    background-image: url("../img/svg/logo-mobile-nav.svg");
    padding-left: 42px;
  }
}

.nav--closed .nav__logo {
  @include vp-767 {
    margin-top: 0;
    left: 0;
  }
}

.nav__toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    width: 24px;
    height: 15px;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
}

.nav--opened .nav__toggle {
  right: 15px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 14px;
    width: 20px;
    height: 2px;
    background-color: $color-tangaroa;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $color-alice-blue;
  box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
}

.nav--closed .nav__menu {
  @include vp-767 {
    margin-top: 20px;
    width: 91%;
  }
}

.nav--closed .nav__list {
  @include vp-767 {
    display: none;
  }
}

.nav--nojs {
  @include vp-767 {
    position: relative;
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__wrapper {
  @include vp-767 {
    position: static;
    margin: 0;
  }
}

.nav--nojs .nav__logo {
  background-image: url("../img/svg/logo-mobile-nav.svg");
  padding-left: 42px;
}
