.salutation {
  height: 650px;
  background-color: $color-sail;
  background-image: url("../img/content/back-salutation-desktop.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  margin-bottom: 120px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/content/back-salutation-desktop@2x.jpg");
  }

  @include vp-1365 {
    height: 638px;
    margin-bottom: 91px;
    background-image: url("../img/content/back-salutation-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/back-salutation-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    height: 500px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-image: url("../img/content/back-salutation-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/back-salutation-mobile@2x.jpg");
    }
  }
}

.salutation h2 {
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 12px;
  padding-left: 95px;
  padding-top: 270px;

  @include vp-1365 {
    font-size: 50px;
    line-height: 61px;
    padding: 268px 0 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    padding-top: 175px;
  }
}

.salutation p {
  font-size: 20px;
  color: $color-alice-blue;
  margin: 0;
  padding-left: 95px;

  br {
    display: none;
  }

  @include vp-1365 {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
  }

  @include vp-767 {
    font-size: 16px;

    br {
      display: block;
    }
  }
}
